{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <div class="govuk-form-group">



            <h1 class="govuk-heading-l">Your options: Use the Child Maintenance Service</h1>


            {% if data['will-you-be-paying-or-receiving'] === 'paying' %}
            <p class="govuk-body">The Child Maintenance Service may be able to arrange child maintenance for you. This is less flexible than making your own arrangement because the calculation is a fixed amount based on your earnings.</p>
            <p class="govuk-body">Using the Child Maintenance Service might be a good option for if you do not feel safe dealing with the other parent, or you do not think they will stick to an agreement.</p>
            <p class="govuk-body">The Child Maintenance Service will:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                work out how much child maintenance you will pay
              </li>
              <li>
                arrange for the you to pay the other parent
              </li>
              <li>
                take action if you do not make payments
              </li>
              <li>
                help find the other parent if you’ve lost contact
              </li>
              <li>
                recalculate the payment amount if a changes in your circumstances is reported
              </li>
              <li>
                help if someone denies they’re the parent of a child
              </li>
            </ul>

            <p class="govuk-body"">There are 2 ways you can make child maintenance payments</p>
            <h2 class="govuk-heading-s">Direct Pay</h2>
            <p class="govuk-body">You pay maintenance directly into the other parent’s bank account.</p>
            <p class="govuk-body">You do not need to have any contact with the other parent and there are no additional fees.</p>

            <h2 class="govuk-heading-s">Collect and Pay</h2>
            <p class="govuk-body">The Child Maintenance Service will collect maintenance you and pass it to the other parent.</p>
            <p class="govuk-body">There are additional fees for you and the other parent and you can only use Collect and Pay if the other parent agrees to it.</p>
            {% endif %}


            {% if data['will-you-be-paying-or-receiving'] === 'receiving' %}
            <p class="govuk-body">The Child Maintenance Service may be able to arrange child maintenance for you. This is less flexible than making your own arrangement because the calculation is a fixed amount based on the paying parent’s earnings.</p>
            <p class="govuk-body">Using the Child Maintenance Service might be a good option for if you do not feel safe dealing with the other parent, or you do not think they will stick to an agreement.</p>
            <p class="govuk-body">The Child Maintenance Service will:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                work out how much child maintenance you will be paid
              </li>
              <li>
                arrange for the the other parent to pay you
              </li>
              <li>
                take action if payments are not made
              </li>
              <li>
                help find the other parent if you’ve lost contact
              </li>
              <li>
                recalculate the payment amount if changes in parents’ circumstances are reported
              </li>
              <li>
                help if someone denies they’re the parent of a child
              </li>
            </ul>

            <p class="govuk-body"">There are 2 ways you can get child maintenance payments.</p>
            <h2 class="govuk-heading-s">Direct Pay</h2>
            <p class="govuk-body">The other parent will pay maintenance directly to your bank account. You do not need to have any contact with the other parent and there are no additional fees.</p>

            <h2 class="govuk-heading-s">Collect and Pay</h2>
            <p class="govuk-body">The Child Maintenance Service will collect maintenance from the other parent and pass it to you. There are additional fees for you and the other parent and you can only use Collect and Pay if the other parent agrees to it.</p>

            {% endif %}
          </div>

          <a href="what-do-you-want-to-do" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Continue
          </a>
        </form>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="govuk-button--sticky">
          <a href="https://www.bbc.co.uk/weather" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-padding-5 govuk-button--sticky govuk-!-width-full govuk-button--stick hide-on-small"
          data-module="govuk-button">
          Hide this page
          </a>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
