{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 style="govuk-heading-m">Index</h1>

    <h2 style="govuk-heading-s"><a href="personalised/welcome">Personalised</a></h2>
    <h2 style="govuk-heading-s"><a href="welcome">Journey with URN</a></h2>
    <h2 style="govuk-heading-s"><a href="no-urn/welcome">Journey without URN</a></h2>
    <h2 style="govuk-heading-s"><a href="../prototype2iteration1pp/welcome">Paying Parent</a></h2>
    <h2 style="govuk-heading-s"><a href="../prototype2iteration1rp/welcome">Receiving Parent</a></h2>


  </div>
</div>

{% endblock %}
