{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}


<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <!--start of radio-->
          <div class="govuk-form-group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-fieldset__legend--l">

                <h1 class="govuk-fieldset__heading">

                </h1>

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                        Would you be happy for us to contact you in the future about research to help us improve this service?
                      </h1>
                    </legend>
                    <div id="changed-name-hint" class="govuk-hint">
                      This doesn't effect your child maintenance choice.
                    </div>
                    <div class="govuk-radios govuk-radios--inline">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="changed-name">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="changed-name-2">
                          No
                        </label>
                      </div>
                    </div>

                  </fieldset>
                </div>

              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  Return to usual call-handling processes for the remainder of the call.
                </strong>
              </div>


          </div>
          <!--end-->
          <button type="submit" class="govuk-button">
            End call
          </button>
        </form>
      </div>

    </div>
  </main>
</div>
{% endblock %}
