{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}


<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <!--start of radio-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="maintenance-liability-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-fieldset__legend--l">

                <h1 class="govuk-fieldset__heading">
                  Are you going to be paying or receiving child maintenance payments?
                </h1>

              </legend>


              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="paying" name="paying-or-receiving" type="radio" value="paying">
                  <label class="govuk-label govuk-radios__label" for="paying">
                    Paying
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="receiving" name="paying-or-receiving" type="radio" value="receiving">
                  <label class="govuk-label govuk-radios__label" for="receiving">
                    Receiving
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <!--end-->
          <button type="submit" class="govuk-button">
            Continue
          </button>
            <p><a class="govuk-link" href="index.html">End call</a></p>
        </form>
      </div>

    </div>
  </main>
</div>
{% endblock %}
