{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}


<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <!--start of radio-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="maintenance-liability-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Do you have the main day to day care of the child?
                  </h1>
                  <div class="govuk-inset-text">
                  If the caller has already indicated they will be either the receiving of paying parent, just clarify this.
                  </div>
              </legend>

                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="other" name="dtd" type="radio" value="dtd-yes" data-aria-controls="dtd-yes">
                    <label class="govuk-label govuk-radios__label" for="dtd-yes">
                      Yes
                    </label>
                  </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" name="yes" value="yes" id="dtd-yes">
                            <div class="govuk-form-group">
                            <label class="govuk-label" for="width-20">
                            That means you will be receiving child maintenance payments
                            </label>
                            </div>
                      </div>


                      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="other" name="dtd" type="radio" value="dtd-no" data-aria-controls="dtd-no">
                      <label class="govuk-label govuk-radios__label" for="dtd-no">
                        No
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="dtd-no">
                          <div class="govuk-form-group">
                          <label class="govuk-label" for="width-20">
                          That means you will be paying child maintenance to the other parent
                          </label>
                          </div>
                    </div>
                  </div>

            </fieldset>
          </div>
          <!--end-->
          <button type="submit" class="govuk-button">
            Continue
          </button>
            <p><a class="govuk-link" href="index.html">End call</a></p>
        </form>
      </div>

    </div>
  </main>
</div>
{% endblock %}
