{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}


<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <!--start of radio-->
          <div class="govuk-form-group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-fieldset__legend--l">

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                      Are you the child's biological or adoptive parent? 
                      </h1>
                    </legend>

                    <div class="govuk-inset-text">
                    Only ask this if the caller has not already confirmed their relationship with the child.<br><br>
                    If the caller is not the child’s biological or adoptive parent, they cannot apply online because they need to tell us more about the childcare arrangements.
                    </div>

                      <div class="govuk-radios govuk-radios--inline">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="bio-parent-yes" name="bio-parent" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="bio-parent-yes">
                              Yes
                            </label>
                          </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="bio-parent-no" name="bio-parent" type="radio" value="no">
                              <label class="govuk-label govuk-radios__label" for="bio-parent-no">
                                No
                              </label>
                            </div>
                        </div>
                  </fieldset>
                </div>
          </div>
          <!--end-->
          <button type="submit" class="govuk-button">
            Continue
          </button>
          <p><a class="govuk-link" href="../index.html">End call</a></p>
        </form>
      </div>

    </div>
  </main>
</div>
{% endblock %}
