{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <form method="post" novalidate>
          <!--start of radio-->
          <div class="govuk-form-group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-fieldset__legend--l">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-l">Version 3 (October 2021)</span>
          Options Telephony Prototype
        </h1>
        <p class="govuk-body-l">Use this tool only for the 'full' Options call. Quick queries can be handled as normal.</p>

          <div class="govuk-inset-text">
            This line is used to give you prompts throughout this tool. You should not read these prompts out to the caller.
          </div>
      </div>
    </div>
  </div>

      <a href="g4s3/start.html" class="govuk-button govuk-button--start">Start new call</a>

</div>
</div>
</div>
{% endblock %}
