{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}


<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <!--start of radio-->
          <div class="govuk-form-group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-fieldset__legend--l">

                <h1 class="govuk-fieldset__heading">
                  We cannot help you arrange child maintenance
                </h1>

              </legend>

              <p>The Child Maintenance Service cannot help you make an arrangement because you live outside the UK and do not work for a British organisation.</p>

              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  Return to usual call-handling processes.
                </strong>
              </div>

          </div>
          <!--end-->
        <a href="../index.html" class="govuk-button">End call</a>
        </form>
      </div>

    </div>
  </main>
</div>
{% endblock %}
