{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}


<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <!--start of radio-->
          <div class="govuk-form-group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-fieldset__legend--l">

                <h1 class="govuk-fieldset__heading">

                </h1>


              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  Introduce the call and the Options service as usual.
                </strong>
              </div>

              <p>You need to capture the following information:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>caller's name</li>
                <li>National Insurance number</li>
                <li>phone number</li>
                <li>email address</li>
                <li>children's names</li>
                <li>children's ages</li>
                <li>other parent's name</li>
              </ul>

          </div>
          <!--end-->
          <button type="submit" class="govuk-button">
            Continue
          </button>
          <p><a class="govuk-link" href="../index.html">End call</a></p>
        </form>
      </div>

    </div>
  </main>
</div>
{% endblock %}
