{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <!--start of radio-->
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="live-uk-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-fieldset__legend--xl govuk-!-margin-bottom-9">
                                <h1 class="govuk-fieldset__heading">
                                    Get more information
                                </h1>
                            </legend>

                            <p class="govuk-body">You can learn more about the different types of arrangement from GOV.UK or you can talk to a Child Maintenance advisor.</p>

                            <h3 class="govuk-heading-m">On the internet</h3>

                            <div class="govuk-inset-text">These links will open in a new tab. This page will stay open so you can come back to it at any time.</div>

                            <p class="govuk-body"><a href="https://www.gov.uk/making-child-maintenance-arrangement/arrange-child-maintenance-yourself">Making your own arrangement</a>
                            <span class="govuk-hint">More information about making your own arrangement and resources to help you do it.</span></p>

                            <p class="govuk-body"><a href="https://www.gov.uk/making-child-maintenance-arrangement/using-child-maintenance-service">Using the Child Maintenance Service</a>
                            <span class="govuk-hint">More information about using the Child Maintenance Service including how it works, eligibility, fees and more.</span></p>

                            <p class="govuk-body"><a href="https://www.gov.uk/calculate-child-maintenance">Calculate your child maintenance</a>
                            <span class="govuk-hint">You can get an estimate of how much you would pay or receive if you used the Child Maintenance Service. You can use this amount to discuss making your own arrangement with the other parent.</span></p>

                            <h3 class="govuk-heading-m"">Talk to someone</h3>
                            <p class="govuk-body">You can get in touch and talk to a Child Maintenance advisor about your options.</p>
                            <div class="govuk-inset-text">
                              Telephone: 0800 953 0191<br>
                              Monday to Friday, 8am to 8pm<br>
                              <br>
                              <a href="https://dwpcmgoptions.signvideo.net">Video relay service</a> for British Sign Language (BSL) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use the service</a><br>
                              Monday to Friday, 8am to 5pm<br>
                              <br>
                              Welsh language: 0800 408 0308<br>
                              Monday to Friday, 8am to 5pm<br>
                              <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
                            </div>

                            <!--end-->
                </form>
                </div>



            </div>

            <div class="govuk-grid-column-one-third">
                <div class="govuk-button--sticky">
                    <a href="https://www.bbc.co.uk/weather" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-padding-5 govuk-button--sticky govuk-!-width-full govuk-button--stick hide-on-small"
                        data-module="govuk-button">
                        Hide this page
                    </a>
                </div>
            </div>






    </main>
    </div>
    {% endblock %}
