{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 style="govuk-heading-m">Index</h1>
    <h2 style="govuk-heading-s">Completed iterations</h2>
    <p style="govuk-body"><a href="iteration1/web-overview">Iteration 1 - Start from GOV.UK pages</a></p>
    <p style="govuk-body"><a href="iteration1/welcome">Iteration 1 - Start from service start page</a></p>
    <h2 style="govuk-heading-s">Work in progress</h2>
    <p style="govuk-body"><a href="iteration2/web-overview">Iteration 2 - Start from GOV.UK pages</a></p>
    <p style="govuk-body"><a href="iteration2/welcome">Iteration 2 - Start from service start page</a></p>
  </div>
</div>
{% endblock %}
