{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

<!--Feedback banner stop-->


<div class="govuk-width-container">


    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-l">The caller wants to apply by phone, later
 </h1>



    <div class="">
      <p>I’ve sent you an application reference number and the telephone number you need to call to apply

</p>
      <p>You can call the Child Maintenance Service from 9.30am to 3.30pm, Monday to Friday. Your reference number will not expire.

</p>

      <p><b>Do you have any more questions before I end the call?</b></p>

    </div>





    <!--end-->
    <button type="submit" class="govuk-button">
      End call
    </button>
  </form>
</div>

</div>
</main>
</div>
{% endblock %}
