{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

<!--Feedback banner stop-->


<div class="govuk-width-container">


    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-l">We cannot help you arrange child maintenance
 </h1>



    <div class="">
      <p>The Child Maintenance Service can not help you make an arrangement because your child is:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>not in full time education or training </li>
        <p> or </p>
        <li>not under 20 years old</li>
      </ul>

    </div>





    <!--end-->
    <button type="submit" class="govuk-button">
      End call
    </button>
  </form>
</div>

</div>
</main>
</div>
{% endblock %}
