{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>

<!--Radio buttons start-->

                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                          What type of child maintenance arrangement do you want to make?
                        </h1>
                      </legend>
                      <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="what-do-you-want-to-do" name="what-do-you-want-to-do" type="radio" value="make-own-arrangement">
                          <label class="govuk-label govuk-radios__label" for="what-do-you-want-to-do">
                            Make your own child maintenance arrangement
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="what-do-you-want-to-do" name="what-do-you-want-to-do" type="radio" value="use-service">
                          <label class="govuk-label govuk-radios__label" for="what-do-you-want-to-do">
                            Use the child maintenance service
                          </label>
                      </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="what-do-you-want-to-do" name="what-do-you-want-to-do" type="radio" value="not-ready">
                      <label class="govuk-label govuk-radios__label" for="what-do-you-want-to-do">
                        I am not ready to decide
                      </label>
                  </div>
                    </fieldset>
                  </div>
       
                  <button type="submit" class="govuk-button">
                    Continue
                    </button>

    </form>

</div>
<div class="govuk-grid-column-one-third">
    <div class="govuk-button--sticky">
        <a href="https://www.bbc.co.uk/weather" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-padding-5 govuk-button--sticky govuk-!-width-full govuk-button--stick hide-on-small"
            data-module="govuk-button">
            Hide this page
        </a>
    </div>
</div>

</div>



</main>
</div>
{% endblock %}
