{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 style="govuk-heading-m">Index</h1>

    <h2 style="govuk-heading-s"><a href="/prototype1/iteration2/welcome">Iteration 2 - Content improvements from User Research</a></h2>
    <h2 style="govuk-heading-s"><a href="/prototype1/iteration1/welcome">Iteration 1 - Journey with URN</a></h2>
    <h2 style="govuk-heading-s"><a href="/prototype1/iteration1/no-urn/welcome">Iteration 1 - Journey without URN</a></h2>


  </div>
</div>

{% endblock %}
