{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

<!--Feedback banner stop-->


<div class="govuk-width-container">


    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

    <form method="post" novalidate>
        <div class="govuk-form-group">


                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="religion-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                        Are the children you're applying for under 16 years old?
                            </h1>
                          </legend>

                        <br>
                        <div class="govuk-radios--inline" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="children-yes" name="children-yes" type="radio" value="yes~domestic-abuse-have-you-told"
                                    aria-controls="conditional-other-parent-dob-1" aria-expanded="true">
                                <label class="govuk-label govuk-radios__label" for="children-yes">
                                    Yes
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="children-no" name="children-yes" type="radio" value="no~pay-fee">
                                <label class="govuk-label govuk-radios__label" for="children-no">
                                    No
                                </label>
                            </div>


                        </div>





                        </fieldset>
                        </div>
        </div>

    </form>


        <p class="govuk-body">
          <a href="under-20" class="govuk-button ">Continue</a>
        </p>
    </form>



<p>This service is also available in <a href="">Welsh (Cymraeg)</a>.</p>
<p><a href="">Contact Child Maintenance Choices if you live in Northern Ireland</a>.</p>





{% endblock %}
