{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

<!--Feedback banner stop-->


<div class="govuk-width-container">


    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-l">Do you want to find out where you can get help with the behaviours you've experienced?</h1>

<p>  </p>


    <div class="">
        <form method="post" novalidate>

              <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="da-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-fieldset__legend--xl ">

                      </legend>

                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="yes" name="da" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="yes">
                                I want to be send an email with a link to the support website
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="no" name="da" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="no">
                                I will make a note of the support website
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="no" name="da" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="no">
                              Give phone number of an organisation
                            </label>
                        </div>
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="no" name="da" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="no">
                              I do not want to find out where I can get help
                            </label>
                        </div>

                    </div>

             </fieldset>
                  </div>
            <br>



    </div>




              <a href="options" class="govuk-button ">continue</a>
              <p>
                <a class="govuk-link" href="index">End call</a>
                </p>
  </form>
</div>

</div>
</main>
</div>
{% endblock %}
