{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!--Feedback banner stop-->


<div class="govuk-width-container">


    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-l">Internal telephony tool prototype</h1>

  <h2 class="govuk-heading-m">Application incomplete<h2>
<p> Hello, thanks for calling Child Maintenance Options. My name is XXXXX, how can I help you today?  </p>






<table class="govuk-table">
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th class="govuk-table__header" scope="col"> 1. About the applicant </th>
<th class="govuk-table__header" scope="col">  </th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<td class="govuk-table__cell">
<a href="">Reason for the call</a>
</td>
<td class="govuk-table__cell">
<strong class="govuk-tag govuk-tag--grey">
Not started
</strong>

</td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell">
<a href="">Applicant's details</a>
</td>
<td class="govuk-table__cell">
<strong class="govuk-tag govuk-tag--grey">
Not started
</strong>

</td>

</tbody>
</table>




<table class="govuk-table">
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th class="govuk-table__header" scope="col"> 2. Check eligibility </th>
<th class="govuk-table__header" scope="col">  </th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<td class="govuk-table__cell">
<a href="check-eligibility">Check eligibility</a>
</td>
<td class="govuk-table__cell">
<strong class="govuk-tag govuk-tag--grey">
Not started
</strong>

</td>
</tr>

</tbody>
</table>

<table class="govuk-table">
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th class="govuk-table__header" scope="col"> 3. Options </th>
<th class="govuk-table__header" scope="col">  </th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<td class="govuk-table__cell">
<a href="">About FBA </a>
</td>
<td class="govuk-table__cell">
<strong class="govuk-tag govuk-tag--grey">
Not started
</strong>

</td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell">
<a href="">About CMS</a>
</td>
<td class="govuk-table__cell">
<strong class="govuk-tag govuk-tag--grey">
Not started
</strong>

</td>

</tbody>
</table>

<table class="govuk-table">
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th class="govuk-table__header" scope="col"> 4. Applicant's choice </th>
<th class="govuk-table__header" scope="col">  </th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<td class="govuk-table__cell">
<a href="">FBA - resouces</a>
</td>
<td class="govuk-table__cell">
<strong class="govuk-tag govuk-tag--grey">
Not started
</strong>

</td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell">
<a href="">Applicant's details</a>
</td>
<td class="govuk-table__cell">
<strong class="govuk-tag govuk-tag--grey">
Not started
</strong>

</td>

</tbody>
</table>



<p>This service is also available in <a href="">Welsh (Cymraeg)</a>.</p>
<p><a href="">Contact Child Maintenance Choices if you live in Northern Ireland</a>.</p>





{% endblock %}
