{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

<!--Feedback banner stop-->


<div class="govuk-width-container">


    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-l">Get help arranging child maintenance</h1>


    <p class="govuk-body">To make sure I give you the right information, I will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>ask a few questions about you, your children and the other parent</li>
      <li>talk about your different child maintenance options</li>
      <li>answer any questions to help you choose the option that’s best for you</li>
    </ul>

    <form method="post" novalidate>
        <h2 class="govuk-heading-m">What is your name?<h2>
        <div class="govuk-form-group">

            <input class="govuk-input govuk-input--width-10" id="free-text" type="text" name="free-text" type="text" aria-describedby="name"
                spellcheck="false">
        </div>

        <h2 class="govuk-heading-m">What is your email address? (Optional)<h2>
          <span id="urnNumberInformation" class="govuk-hint">
            We will only use your email address to send you a summary of the call and any supporting information. We will not save your email address or share it with anyone else.
          </span>
        <div class="govuk-form-group">

            <input class="govuk-input govuk-input--width-20" id="free-text" type="text" name="free-text" type="text" aria-describedby="name"
                spellcheck="false">
        </div>
        <p class="govuk-body">
          <a href="children" class="govuk-button ">Start now</a>
        </p>

    </form>


</div>


</div>
</main>
</div>
{% endblock %}
