{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}


<!--Feedback banner stop-->


<div class="govuk-width-container">


    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-l">Your child maintenance options</h1>

<p> If the caller: </p>
              <ul class="govuk-list govuk-list--bullet">

                  <li>
                    has experienced domestic abuse
                  </li>
                  <li>
                    is concerned about contacting the other parent
                  </li>
                  <li>
                would prefer one option
                  </li>
                </ul>

<p> You still need to go through both options to make sure they have all the information before they make a decision. </p>

<!-- accordian - options -->
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
Making your own arrangement:
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <ul class="govuk-list govuk-list--bullet">

          <li>
            this is a private arrangement between you and the other parent
          </li>
          <li>
          no one else will be involved
          </li>
          <li>
        it can be whatever you and the other parent agree to
          </li>
        </ul>

        <p>You and the other parent can:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>
          come to an agreement about how much payments should be
        </li>
        <li>
          change the amount if you need to
        </li>
        <li>
          decide how often payments will be made
        </li>
        <li>
      agree payments for specific things, like school uniform or trips
        </li>
      </ul>


      <p>Making your own arrangement might be a good option if:</p>
  <ul class="govuk-list govuk-list--bullet">
      <li>
        you feel safe dealing with the other parent
      </li>
      <li>
        you think the other parent will stick to an agreement
      </li>
    </ul>
<p><b>
      Do you have any questions about making your own arrangement?</b>
    </p>
    </div>
  </div>





  <!-- CMS Option -->
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
        Using the Child Maintenance Service
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <ul class="govuk-list govuk-list--bullet">
          <li>
          the Child Maintenance Service is for parents who cannot agree to a private arrangement
          </li>
          <li>
          it is less flexible than making your own arrangement because the amount is based on the paying parent's earnings
          </li>
          <li> it might be a good option if you do not feel safe with the other parent or if you have not been able to stick to your own arrangement in the past
        </ul>

        <p> <b> Application fee </b> </p>
          <ul class="govuk-list govuk-list--bullet">
            <li> there is a £20 fee to make an application </li>
            <li> the fee is non-refundable </li>
            <li> it does not guarantee an arrangement </li>
            </ul>

            <p> You need to complete an application online or on the phone. Then the Child Maintenance Service will: </p>
            <ul class="govuk-list govuk-list--bullet">
              <li> work out child maintenance payment amount </li>
              <li> arrange for payments to be made between the parents</li>
              <li> take action if payments are not made</li>
              <li> help find the other parent if you've lost contact </li>
              <li> recalculate the payment amount if changes in parents' circumstances are reported </li>
              <li> help if someone denies they're the parent of a child </li>
              </ul>

  <h3 class="govuk-heading-m"> How you receive child maintenance payments</h3>

  <p><b> Direct Pay </b></p>
  <ul class="govuk-list govuk-list--bullet">
    <li> the other parent will pay maintenance directly to your bank account </li>
    <li> you do not need to have any contact with the other parent </li>
    <li> there are no additional fees</li>
    </ul>

    <p><b> Collect and Pay </b></p>
    <ul class="govuk-list govuk-list--bullet">
      <li> the child maintenance service will collect maintenance from the other parent and pass it on to you </li>
      <li> there are additional fees for you and the other parent </li>
      <li> you can only start with Collect & Pay if the other parent agrees to it or if they do not respond to us</li>
      </ul>
      <p> <b> Do you have any questions about using the Child Maintenance Service? </b></p>
    </div>
  </div>
</div>


<a href="choice" class="govuk-button ">Next: Make a choice</a>




        <div class="govuk-grid-row">

<p>This service is also available in <a href="">Welsh (Cymraeg)</a>.</p>
<p><a href="">Contact Child Maintenance Choices if you live in Northern Ireland</a>.</p>

</div>





{% endblock %}
