{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!--Feedback banner stop-->

<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <!--start of radio-->
                    <div class="">
                        <form method="post" novalidate>

                              <div class="govuk-form-group">
                                  <fieldset class="govuk-fieldset" aria-describedby="da-hint">
                                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-fieldset__legend--xl ">
When was the court decision for child maintenance put in place?
                                      </legend>

                                    <div class="govuk-radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="yes" name="court-decision" type="radio" value="yes">
                                            <label class="govuk-label govuk-radios__label" for="yes">
                                              Within the last 12 months
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="no" name="court-decision" type="radio" value="no">
                                            <label class="govuk-label govuk-radios__label" for="no">
                                            Over 12 months ago
                                            </label>
                                        </div>

                                    </div>

                             </fieldset>
                                  </div>
                            <br>



                    </div>

                    <!--end-->

                    <button type="submit" class="govuk-button">
                      Continue
                    </button>                    <p>
                      <a class="govuk-link" href="index">End call</a>
                      </p>
                </form>
            </div>


        </div>
    </main>
</div>





        <div class="govuk-grid-row">

<p>This service is also available in <a href="">Welsh (Cymraeg)</a>.</p>
<p><a href="">Contact Child Maintenance Choices if you live in Northern Ireland</a>.</p>

</div>



{% endblock %}
