{% extends "layout.html" %} {% block pageTitle %} Start page example {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
  var $element = $('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
  stepByStepNavigation.start($element)
</script>
{% endblock %} {% block beforeContent %}

{% endblock %} {% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}



<!--Feedback banner stop-->


<div class="govuk-width-container">


    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-l">Your child maintenance options</h1>



<p> I am required to talk you through both of your options, regardless of your personal circumstances. This is to make sure you have all the information you need to make the best decision for you and your children. </p>

<!-- accordian - options -->
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
Your first option is to make your own arrangement
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <ul class="govuk-list govuk-list--bullet">

          <li>
            this is a private arrangement between you and the other parent
          </li>
          <li>
          no one else will be involved
          </li>
          <li>
        it can be whatever you and the other parent agree to
          </li>
        </ul>

        <p>You and the other parent can:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>
          {% if data['choice'] === 'receiving' %}
            come to an agreement about how much you will be paid
              {% elseif data['choice'] === 'paying' %}
            come to an agreement about how much you will pay
                                {% endif %}
        </li>
        <li>
          change the amount if you need to
        </li>
        <li>
          {% if data['choice'] === 'receiving' %}
          decide how often you will be paid
              {% elseif data['choice'] === 'paying' %}
            decide how often you will make payments
                                {% endif %}
        </li>
        <li>
          {% if data['choice'] === 'receiving' %}
        agree for the other parent to pay for specific things, like school uniforms or trips
              {% elseif data['choice'] === 'paying' %}
            agree for you to pay for specific things, like school uniform or trips
                                {% endif %}
        </li>
      </ul>


      <p>Making your own arrangement might be a good option if:</p>
  <ul class="govuk-list govuk-list--bullet">
      <li>
        you feel safe dealing with the other parent
      </li>
      <li>
        you think the other parent will stick to an agreement
      </li>
    </ul>
<p><b>
      Do you have any questions about making your own arrangement?</b>
    </p>
    </div>
  </div>





  <!-- CMS Option -->
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
      Your second option is to use the Child Maintenance Service
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <ul class="govuk-list govuk-list--bullet">
          <li>
            {% if data['choice'] === 'receiving' %}
    using the Child Maintenance Service is less flexible than making your own arrangement because the amount is based on the paying parent’s earnings
                {% elseif data['choice'] === 'paying' %}
              using the Child Maintenance Service is less flexible than making your own arrangement because the amount is based on your earnings
                                  {% endif %}
          </li>
          <li>it might be a good option if you do not feel safe dealing with the other parent or if you have not been able to stick to your own arrangement in the past  </li>
        </ul>

        <p> <b> You will need to complete an application online or on the phone </b> </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>there is a £20 fee to make an application – you will not need to pay the fee if you are under 19 or if you have experienced any domestic abuse</li>
            <li> the fee is non-refundable </li>
            <li> it does not guarantee an arrangement </li>
            </ul>

            <p> Then the Child Maintenance Service will: </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>        {% if data['choice'] === 'receiving' %}
          work out how much child maintenance you will be paid
                          {% elseif data['choice'] === 'paying' %}
                        work out how much child maintenance you will pay
                                            {% endif %} </li>
              <li>   {% if data['choice'] === 'receiving' %}
        arrange for the other parent to pay you
                          {% elseif data['choice'] === 'paying' %}
                        arrange for you to pay the other parent
                                            {% endif %} </li>
              <li> take action if payments are not made</li>
              <li> help find the other parent if you've lost contact </li>
              <li> recalculate the payment amount if changes in parents' circumstances are reported </li>
              <li> help if someone denies they're the parent of a child </li>
              </ul>

  <h3 class="govuk-heading-m"> There are 2 ways you can pay Child Maintenance payments</h3>

  <p><b> Direct Pay </b></p>
  <ul class="govuk-list govuk-list--bullet">
    <li>  {% if data['choice'] === 'receiving' %}
the other parent will pay maintenance directly to your bank account
                {% elseif data['choice'] === 'paying' %}
        you pay maintenance directly into the other parent’s bank account
                                  {% endif %} </li>
    <li> {% if data['choice'] === 'receiving' %}
you do not need to have any contact with the other parent
                {% elseif data['choice'] === 'paying' %}
      you do not need to have any contact with the other parent
                                  {% endif %} </li>
    <li> there is a £20 application fee to use the Child Maintenance Service, but there are no additional fees if you use Direct Pay</li>
    </ul>

    <p><b> Collect and Pay </b></p>
    <ul class="govuk-list govuk-list--bullet">
      <li> {% if data['choice'] === 'receiving' %}
the Child Maintenance Service will collect maintenance from the other parent and pass it on to you
                  {% elseif data['choice'] === 'paying' %}
        the Child Maintenance Service will collect maintenance from you and pass it to the other parent
                                    {% endif %} </li>
      <li> {% if data['choice'] === 'receiving' %}
there is a £20 application fee to use the Child Maintenance Service and additional monthly fees for you and the other parent if you use Collect and Pay
                  {% elseif data['choice'] === 'paying' %}
there is a £20 application fee to use the Child Maintenance Service and additional monthly fees for you and the other parent if you use Collect and Pay
                                    {% endif %} </li>
      <li> {% if data['choice'] === 'receiving' %}
you can only start with Collect and Pay if the other parent agrees to it or if they do not respond to us
                  {% elseif data['choice'] === 'paying' %}
you can only start with Collect and Pay if the other parent agrees to it
                                    {% endif %}</li>
      </ul>
      <p> <b> Do you have any questions about using the Child Maintenance Service? </b></p>

    </div>
  </div>
</div>


<a href="choice" class="govuk-button ">Continue</a>
<p>
  <a class="govuk-link" href="index">End call</a>
  </p>




</div>
<!-- NOTES SECTIONS -->
  <div class="govuk-grid-column-one-third">

    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Your call with {{data['firstname'] }} </span>

      </h2>
    </div>

    <div id="step-by-step-navigation" data-module="gemstepnav" class="app-step-nav js-hidden " data-id="e01e924b-9c7c-4c71-8241-66a575c2f61f" data-show-text="show" data-hide-text="hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step app-step-nav__step--active" aria-current="step" data-show id="check-youre-allowed-to-drive" >
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 1
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
              About {{data['firstname'] }}
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel"  id="step-panel-check-youre-allowed-to-drive-1">
            <ul class="govuk-list govuk-list--bullet app-step-nav__paragraph">

              {% if data['children-under-16'] === 'yes' %}
              <li>Children under 16  </li>
              {% endif %}

              {% if data['where-do-you-live'] === 'uk' %}
              <li> Lives in England, Scotland or Wales  </li>
                {% elseif data['where-do-you-live'] === 'northern-ireland' %}
                  <li> Lives in Northern Ireland  </li>
              {% endif %}

              {% if data['choice'] === 'england' %}
              <li>Other parent lives in England, Scotland or Wales  </li>
                {% elseif data['choice'] === 'somewhere' %}
                  <li> Other parent lives somewhere else  </li>
              {% endif %}


              {% if data['paying-or-receiving'] === 'paying' %}
              <li>Paying child maintenance payments   </li>
              {% elseif data['paying-or-receiving'] === 'receiving' %}
                <li> Receiving child maintenance payments  </li>
                {% endif %}
            </ul>
          </div>

        </li>
        <li class="app-step-nav__step js-step step-nav__step--active" id="get-a-provisional-licence" >
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 2
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Email {{data['free-text'] }}
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-2">
            <ul class="govuk-list govuk-list--bullet app-step-nav__paragraph">

              {% if data['email-or-text-message'] === 'text' %}
              <li>Domesitic Abuse information  </li>
              {% endif %}
            </ul>
          </div>

        </li>
        <li class="app-step-nav__step js-step" id="driving-lessons-and-practice" >
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 3
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Options
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-driving-lessons-and-practice-3">


          </div>


        </li>
        <li class="app-step-nav__step js-step" id="driving-lessons-and-practice" >
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 4
                    <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Choice
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-driving-lessons-and-practice-3">
          
    </div>


  </div>

</div>


</div>
</div>
{% endblock %}
