{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 style="govuk-heading-m">Index</h1>

    <h2 style="govuk-heading-s"><a href="../govuk2/making-child-maintenance-arrangement/overview">Web content iteration 2</a></h2>
    <p style="gov.uk body">Second iteration of web content, including improved intos to pages 2 and 3 to encourage effective FBAs.</p>


    <h2 style="govuk-heading-s"><a href="/govuk2/experimental/experimental">Web content experimental 1</a></h2>
    <p style="gov.uk body">High-concept experimental content, single page</p>

    <h2 style="govuk-heading-s"><a href="../govuk1/making-child-maintenance-arrangement/overview">Web content iteration 1</a></h2>
    <p style="gov.uk body">First iteration of improved web content.</p>

  </div>
</div>

{% endblock %}
