<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p>Thank you for contacting the Child Maintenance Service.</p>
            <p>Visit <a href="start-apply-journey" target="_blank" rel="noopener noreferrer">child-maintenance.service.gov.uk/apply</a> to apply online.</p>
            <p><strong>Before you start</strong></p>
            <p>You'll need:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>your application reference number: <strong>981234567</strong></li>
              <li>your National Insurance number </li>
              <li>the other parent's name and as much information about them as you can give - for example, where they live or their phone numbe</li>
              <li>your bank or building society account details, if you need us to give them to the other parent.</li>
            </ul>
            <p>You can also speak to your bank or building society about setting up an account that will not give away your location.</p>
            <p><strong>Fees</strong></p>
            <p>The application fee is £20. It does not guarantee an arrangement. You’ll need a debit or credit card to pay this.</p>
            <p>You will not have to pay the application fee if you:<p>
              <ul class="govuk-list govuk-list--bullet">
                <li>have experienced domestic abuse – if you have, you <a href="https://www.gov.uk/report-domestic-abuse">should tell someone about it</a></li>
                <li>are under 19 years old</li>
              </ul>
            <p><strong>If you’re worried about contacting the other parent</strong></p>
            <p>We will try to contact the other parent about setting up child maintenance – you do not need to.</p>
            <p>If we cannot contact the other parent, we might not be able to set up an arrangement.</p>
            <p>We will not share your answers with the other parent.</p>
          </div>
        </div>
      </div>
    </main>
  </div>
