{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!--Feedback banner stop-->


<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}


    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-l">Why have you chosen to apply for child maintenance by phone?</h1>

              <div class="govuk-inset-text">
                This question is for research only. It will not affect your application.
              </div>

              <form method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="why-by-phone" name="why-by-phone" type="radio" value="accessibility-needs">
                  <label class="govuk-label govuk-radios__label" for="why-by-phone">
                    I have accessibility needs
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="why-by-phone" name="why-by-phone" type="radio" value="english-not-first-language">
                  <label class="govuk-label govuk-radios__label" for="why-by-phone">
                    English is not my first language
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="why-by-phone" name="why-by-phone" type="radio" value="domestic-abuse">
                  <label class="govuk-label govuk-radios__label" for="why-by-phone">
                    I have experienced domestic abuse and want support
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="why-by-phone" name="why-by-phone" type="radio" value="questions-before-apply">
                  <label class="govuk-label govuk-radios__label" for="why-by-phone">
                    I still have questions before I apply
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="why-by-phone" name="why-by-phone" type="radio" value="struggle-to-use-online">
                  <label class="govuk-label govuk-radios__label" for="why-by-phone">
                    I struggle to use online services
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="why-by-phone" name="why-by-phone" type="radio" value="calling-easier">
                  <label class="govuk-label govuk-radios__label" for="why-by-phone">
                    Calling will be easier than applying online
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="why-by-phone" name="why-by-phone" type="radio" value="dont-want-personal-details-online">
                  <label class="govuk-label govuk-radios__label" for="why-by-phone">
                    I do not want to give my personal details online
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="why-by-phone" name="why-by-phone" type="radio" value="something-else">
                  <label class="govuk-label govuk-radios__label" for="why-by-phone">
                    Something else
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="why-by-phone" name="why-by-phone" type="radio" value="prefer-not-to-say">
                  <label class="govuk-label govuk-radios__label" for="why-by-phone">
                    Prefer not to say
                  </label>
                </div>


      </div>
      </fieldset>
    </div>






                      <button type="submit" class="govuk-button">
                          Continue
                      </button>

                </form>

              </div>

                  <!-- hide this page  -->

                  <div class="govuk-grid-column-one-third">
                      <div class="govuk-button--sticky">
                          <a href="https://www.bbc.co.uk/weather" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-padding-5 govuk-button--sticky govuk-!-width-full govuk-button--stick hide-on-small"
                              data-module="govuk-button">
                              Hide this page
                          </a>
                      </div>
                  </div>

      </div>
    </main>
  </div>





<style>
    .survey-heading a {
        background-color: #005ea5;
        font-family: "nta", Arial, sans-serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.11111;
        display: block;
        margin-top: 0px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        color: #ffffff;
        text-decoration: none;
    }

    .survey-heading a:hover {

        text-decoration: underline;
    }

    .survey-heading {
        text-align: center;
        margin: 0px;

    }

    c-related-navigation {
        color: #0b0c0c;
        border-top: 2px solid #005ea5;
    }

    .app-related-items {
        border-top: 0px solid #005ea5;
        padding-top: 0px;
    }
</style>

{% endblock %}
