{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!--Feedback banner stop-->


<div class="govuk-width-container">


    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Apply for help arranging child maintenance</h1>

                <p class="govuk-body-l">Use the Child Maintenance Service to set up a child maintenance arrangement if you and the other parent cannot
                    agree to one yourselves.</p>


                <h2 class="govuk-heading-m">Before you start</h2>

                <p class="govuk-body">You’ll need:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>your unique reference number – this is in the email you were sent after speaking to Child Maintenance
                        Options</li>
                    <li>your
                        <a class="govuk-link" href="https://www.gov.uk/lost-national-insurance-number">National Insurance number</a>
                    </li>
                    <li>details of the children you&rsquo;re applying for</li>
                    <li>the other parent's name and as much other information about them as you can give – for example, where
                        they live or their phone number</li>
                    <li>your bank or building society account details, if you need us to give them to the other parent</li>
                </ul>

                <p>You can also speak to your bank or building society about
                    setting up an account that will not give away your location.</p>

                <h3 class="govuk-heading-s">Fees</h3>

                <p>The application fee is £20. It does not guarantee an arrangement. You’ll need a debit or credit card to pay this.</p>

                <p>You will not have to pay the application fee if you:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>have experienced domestic abuse – if you have, you should
                        <a class="govuk-link" href="https://www.gov.uk/report-domestic-abuse">tell someone about it</a>
                    </li>
                    <li>are under 19 years old</li>
                </ul>

                <h3 class="govuk-heading-s">If you&rsquo;re worried about contacting the other parent</h3>

                <p>We will try to contact the other parent about setting up child maintenance – you do not need to.</p>

                <p>If we cannot contact the other parent, we might not be able to set up an arrangement.</p>

                <div class="govuk-inset-text">We will not share your answers with the other parent.</div>


                <a href="end" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
                    Start now
                </a>


</div>
                        <div class="govuk-grid-column-one-third">


                            <aside class="app-related-items" role="complementary">
                                <h2 class="govuk-heading-m" id="subsection-title">
                                    Related content
                                </h2>
                                <nav role="navigation" aria-labelledby="subsection-title">
                                    <ul class="govuk-list govuk-!-font-size-16">
                                        <li>
                                            <a class="govuk-link" href="web-arrange-child-maintenance-yourself">Arranging child maintenance yourself</a>
                                        </li>
                                    </ul>
                                </nav>
                            </aside>

                            <div class="govuk-button--sticky">









                                <a href="https://www.bbc.co.uk/weather" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-padding-5 govuk-button--sticky govuk-!-width-full govuk-button--stick hide-on-small"
                                    data-module="govuk-button">
                                    Hide this page
                                </a>


                            </div>

                        </div>


            </div>
        </div>
    </main>
</div>


<style>
    .survey-heading a {
        background-color: #005ea5;
        font-family: "nta", Arial, sans-serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.11111;
        display: block;
        margin-top: 0px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        color: #ffffff;
        text-decoration: none;
    }

    .survey-heading a:hover {

        text-decoration: underline;
    }

    .survey-heading {
        text-align: center;
        margin: 0px;

    }

    c-related-navigation {
        color: #0b0c0c;
        border-top: 2px solid #005ea5;
    }

    .app-related-items {
        border-top: 0px solid #005ea5;
        padding-top: 0px;
    }
</style>

{% endblock %}
