{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!--Feedback banner stop-->

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <!--start of radio-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="maintenance-liability-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-fieldset__legend--l ">
                <h1 class="govuk-fieldset__heading">
                  What is your application reference number?
                </h1>
              </legend>
              <input class="govuk-input govuk-input--width-10" value="981234567" id="arn-number" type="text" name="arn-number" type="text" aria-describedby="arnNumberInformation" spellcheck="false">
            </fieldset>
          </div>
          <a href="end" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Continue
          </a>
        </form>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I do not have an application reference number
            </span>
          </summary>
          <div class="contact">
            <p>You’ll need to speak to Child Maintenance Options. They’ll discuss your maintenance arrangements with you, give you an application reference number and explain how to apply.</p>
            <div class="govuk-inset-text">
              <p><strong>Child Maintenance Service</strong><br>
              <br>
              Telephone: 0800 171 2345<br>
              Textphone: 18001 171 2345 <br>
              Monday to Friday, 9:30am to 3:30pm (excluding bank holidays) <br>
              <br>
              <a href="https://dwpnino.signvideo.net/">Video relay service</a> for British Sign Language
              (BSL) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use the Video Relay Service</a><br>
              <br>
              Welsh language: 0800 232 1979<br>
              Monday to Friday, 9:30am to 3:30pm (excluding bank holidays) <br><br>
              
              </div
            </div>
          </div>
        </details>

      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-button--sticky">
          <a href="https://www.bbc.co.uk/weather" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-padding-5 govuk-button--sticky govuk-!-width-full govuk-button--stick hide-on-small"
          data-module="govuk-button">
          Hide this page
        </a>
      </div>
    </div>

  </div>
</main>
</div>
{% endblock %}
