{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!--Feedback banner stop-->

<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <h1 class="govuk-heading-xl">What is your application reference number?</h1>
                    <div class="govuk-form-group">
                        <!--  <label class="govuk-label" for="urn-number" style="visibility:hidden">
                  Invitation code
                </label> -->

                        <input class="govuk-input govuk-input--width-10" id="urn-number" type="text" name="urn-number" type="text" aria-describedby="urnNumberInformation"
                            spellcheck="false">
                    </div>
                    <a href="end" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                        Continue
                    </a>
                </form>

                <!--I do not have an invitation code section-->



                </div>
                <div class="govuk-grid-column-one-third">
                    <div class="govuk-button--sticky">
                        <a href="https://www.bbc.co.uk/weather" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-padding-5 govuk-button--sticky govuk-!-width-full govuk-button--stick hide-on-small"
                            data-module="govuk-button">
                            Hide this page
                        </a>
                    </div>
                </div>

            </div>
    </main>
    </div>

    {% endblock %}
