{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home!</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/births-deaths-marriages">Births, deaths, marriages and care</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/births-deaths-marriages/child-adoption">Having a child, parenting and adoption</a>
    </li>
  </ol>
</div>

  <h1 class="govuk-heading-xl">Making a child maintenance<br> arrangement</h1>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">



              <h2 class="govuk-heading-m">Overview</h2>

              <p class="govuk-body">Child Maintenance is paid from one parent to another to contribute towards the cost of raising their child. The parent who has main custody of their child is entitled to receive payments.</p>

              <p class="govuk-body">You can arrange child maintenance yourself. This is the most flexible arrangement you can have, because parents work together to:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>
                  decide how much to pay
                </li>
                <li>
                  choose how often payments will be made
                </li>
                <li>
                  talk about things other than payments – such as paying for school uniforms or trips
                </li>
              </ul>

              <p class="govuk-body">You can also <a href="#use-child-maintenance-service">use the Child Maintenance Service</a>. This is less flexible but may be a better option if you are not comfortable dealing with the other parent, or you don’t think they will pay.</p>

              <p class="govuk-body">You don’t get to choose how much is paid if you use the Child Maintenance Service. They’ll work this out based on the circumstances of both parents.</p>

              <h2 class="govuk-heading-m">If you've experienced domestic abuse or controlling behaviour</h2>

              <p class="govuk-body">Domestic abuse can include, but is not limited to:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>
                  psychological or emotional abuse
                </li>
                <li>
                  physical or sexual abuse
                </li>
                <li>
                  financial or economic abuse
                </li>
                <li>
                  coercive control (an act or pattern of acts of assault, threats, humiliation, intimidation, degradation, isolation and control)
                </li>
                <li>
                  harassment and stalking
                </li>
                <li>
                  online or digital abuse
                </li>
              </ul>

              <p class="govuk-body">You can use the Child Maintenance Service to arrange child maintenance if you do not want to contact the other parent yourself. They will contact the other parent for you.</p>

              <p class="govuk-body">You can <a href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help">get help and support if you've experienced domestic abuse</a>.</p>

              <h2 class="govuk-heading-m">Get help to make your own arrangement</h2>

              <p class="govuk-body">You can <a href="https://www.gov.uk/calculate-child-maintenance">use the child maintenance calculator</a> to help you decide how much payments should be. This will show you how much would be paid if you used the Child Maintenance Service.</p>

              <p class="govuk-body">You can also find help with:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="https://www.gov.uk/government/publications/working-out-the-cost-of-raising-your-children">working out the cost of raising your children</a>
                </li>
                <li>
                  <a href="https://www.gov.uk/government/publications/planning-your-child-maintenance-conversation">having a conversation about child maintenance</a>
                </li>
                <li>
                  <a href="https://www.gov.uk/government/publications/your-child-maintenance-arrangement">recording your agreement</a>
                </li>
              </ul>

              <p class="govuk-body">You can <a href="#contact">contact Child Maintenance Options for advice.</a></p>

              <h2 class="govuk-heading-m"><a name="use-child-maintenance-service">Use the Child Maintenance Service</a></h2>

              <p class="govuk-body">You can use the Child Maintenance Service to arrange child maintenance. It’s less flexible than making your own arrangement because they will decide how much is paid, and when payments happen.</h2>

              <p class="govuk-body">The Child Maintenance Service will:</h2>

                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    work out child maintenance payment amounts
                  </li>
                  <li>
                    arrange for the other parent to pay
                  </li>
                  <li>
                    take action if payments are not made
                  </li>
                  <li>
                    help find the other parent if you've lost contact
                  </li>
                  <li>
                    look at the payments if changes in parents’ circumstances are reported
                  </li>
                  <li>
                    help <a href="https://www.gov.uk/manage-child-maintenance-case/disagreements-about-parentage">if someone denies they’re the parent of a child</a>
                  </li>
                </ul>

              <h3 class="govuk-heading-s">Eligibility</h3>

              <p class="govuk-body">To be eligible to use the Child Maintenance Service your child needs to be under 16, or under 20 if they’re in full-time education.

              <p class="govuk-body">You can apply if you’re:

                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    either parent
                  </li>
                  <li>
                    a guardian of the child
                  </li>
                  <li>
                    a child over 12 living in Scotland
                  </li>
                </ul>

              <p class="govuk-body">If one parent is in prison or a full-time student with no income then they will not have to pay child maintenance.

              <h3 class="govuk-heading-s">If a parent lives outside the UK</h3>

              <p class="govuk-body">You cannot apply if the parent with main day-to-day care lives outside the UK.

              <p class="govuk-body">The service can only help if the paying parent works outside the UK for a British organisation.

              <h3 class="govuk-heading-s">Fees</h3>

              <p class="govuk-body">The application fee is £20. You will not have to pay this if you:

                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    have experienced domestic abuse
                  </li>
                  <li>
                    are under 19 years old
                  </li>
                  <li>
                    live in Northern Ireland
                  </li>
                </ul>

              <p class="govuk-body">Usually one parent will pay the other direct. There is no fee for this.

              <p class="govuk-body">If this is not possible for the Child Maintenance Service can arrange to collect the money from the paying parent.

              <p class="govuk-body">There is an extra fee for this service, which is:

                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    20% (which is added to the payment) for paying parents
                  </li>
                  <li>
                    4% (which is taken off the payment) for receiving parents
                  </li>
                </ul>

              <h3 class="govuk-heading-s">How to apply</h3>

              <p class="govuk-body">Contact Child Maintenance Options before you apply.

              <p class="govuk-body">They’ll discuss your maintenance arrangements with you and explain how to apply.

              <p class="govuk-body">You’ll need to give information about you and your family, for example:

                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    your National Insurance number
                  </li>
                  <li>
                    details about the child you’re applying for
                  </li>
                  <li>
                    details about the other parent and your relationship with them
                  </li>
                </ul>

              <h2 class="govuk-heading-m">Contact Child Maintenance Options<h2>

              <div class="govuk-inset-text">
                <strong><a name="contact">Child Maintenance Options</strong><br>
                Telephone: 0800 953 0191<br>
                Monday to Friday, 8am to 8pm<br>
                <br>
                <a href="https://dwpcmgoptions.signvideo.net">Video relay service</a> for British Sign Language (BSL) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use the service</a><br>
                Monday to Friday, 8am to 5pm<br>
                <br>
                Welsh language: 0800 408 0308<br>
                Monday to Friday, 8am to 5pm<br>
                <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
              </div>
              <div class="govuk-inset-text">
                There are different contact details if you live in <a href="https://www.nidirect.gov.uk/contacts/contacts-az/child-maintenance-choices">Northern Ireland</a>.
              </div>

                <br>
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <h2 class="govuk-heading-s">Explore the topic</h2>
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="https://www.gov.uk/browse/births-deaths-marriages/child-adoption">Having a child, parenting and adoption</a>
                </li>
                <li>
                  <a class="govuk-link" href="https://www.gov.uk/browse/births-deaths-marriages/marriage-divorce">Marriage, civil partnership and divorce</a>
                </li>
                <li>
                  <a class="govuk-link" href="https://www.gov.uk/browse/childcare-parenting/divorce-separation-legal">Divorce, separation and legal issues</a>
                </li>
              </ul>

      </div>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
        </div>
        <div class="govuk-notification-banner__content">
          <h2 class="govuk-heading-m" id="subsection-title">
            Brexit
          </h2>
            <a class="govuk-link" href="https://www.gov.uk/transition">Check how the new Brexit rules affect you</a>
        </div>
      </div>
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="https://www.gov.uk/manage-child-maintenance-case">
                  Manage your Child Maintenance Service case
                </a>
              </li>
              <li>
                <a class="govuk-link" href="https://www.gov.uk/calculate-child-maintenance">
                  Calculate your child maintenance
                </a>
              </li>
            </ul>
          </nav>
        </aside>
      </div>

    </div>
  </main>
</div>

{% endblock %}
