{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!--Feedback banner stop-->




<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-l">What are your children's name?</h1>
              <form method="post" novalidate>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="child1">
                <p>First child</p>
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="child1" name="child1" type="tel">
                </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="child2">
              <p>Second child</p>
              </label>

                  <div class="govuk-form-group">

                      <input class="govuk-input govuk-input--width-20" id="child2" type="text" name="child2" type="text" aria-describedby="name"
                          spellcheck="false">
                  </div>
                  </div>



                  <button type="submit" class="govuk-button">
                    Continue
                  </button>

</form>
                </div>


                </div>
                </main>




{% endblock %}
