{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% set serviceName = "Calculate child maintenance" %}


{% block content %}


<!--Feedback banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!--Feedback banner stop-->

<!--Service unavailble content start-->

 <!--Two thirds layout-->

          <div class="govuk-width-container">
          
            <main class="govuk-main-wrapper">
          
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <h1 class="govuk-heading-xl">A calculation cannot be made</h1>
                  <p class="govuk-body"> To make a calculation we need to know the income of the parent who will be paying child maintenance.</p>


          <p class="govuk-body">
            If you don’t know the income of the paying parent, the <a class="govuk-link" href="#"> cost of raising your child guide (downloads a PDF) </a> 
            may help you to work out how much maintenance your child might need.</p>


            <h2 class="govuk-heading-m">Help applying for child maintenance<h2></h2>
          <p class="govuk-body">
          <p>Find out more about <a href="https://www.gov.uk/making-child-maintenance-arrangement">making a child maintenance arrangement</a> 
            or to understand the different options available to you, <a href="/prototype5/iteration1/welcome.html">get help arranging child maintenance</a></p>
          
          
          



                </div>
          

<!--Hide this page button-->

                <div class="govuk-grid-column-one-third">
                    <div class="govuk-button--sticky">
                        <a href="https://www.bbc.co.uk/weather" role="button" draggable="false" 
                        class="govuk-button govuk-button--warning govuk-!-padding-5 govuk-button--sticky govuk-!-width-full govuk-button--stick hide-on-small"
                        data-module="govuk-button">
                        Hide this page
                        </a> 
                 </main>
               </div>

<!--Service unavailble content end-->


{% endblock %}