{% extends "layout.html" %}
{% from "button/macro.njk" import govukButton %}
{% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/" %}
{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({ tag: { text: "PROTOTYPE V6" }, html: '' }) }}
{% endblock%}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Does the paying parent receive any government benefits or State Pension?</h1>
        <form method="post" action="do-you-receive-benefits-r">

            {{ govukRadios({
                idPrefix: "do-you-receive-benefits-r",
                name: "do-you-receive-benefits-r",
                isPageHeading: true,
            items: [ {
                name:"yes",
                value: "yes",
                text: "Yes",
                checked: true if data['do-you-receive-benefits-r'] == "yes" },
                {
                name: "no",
                value: "no",
                text: "No",
                checked: true if data['do-you-receive-benefits-r'] == "no" }
            ] }) }}
            {{
                govukButton({ text: "Continue" }) }}
        </form>
    </div>
</div>
{% endblock %}
