{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/" %} {% block pageTitle %} {{ serviceName }} - {% endblock %} {% block beforeContent %} {{ govukPhaseBanner({
tag: { text: "V6" }, html: '' }) }} {% endblock%} {% block content %}


<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <div class="govuk-panel__body">
                        Your child maintenance<br>
                        calculation is Gareth to pay <br>
                        <strong>£77 a week</strong><br>to Sarah for Edward
                    </div>
                </div>
                <p>
                    Your calculation is:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>based on the information you gave</li>
                                    <li>not a guarantee</li>
                </ul>

            <button type="submit" class="govuk-button">
                Save a copy
            </button>

                <h2 class="govuk-heading-m">How and when to make payments</h2>

                <p>There are several ways to pay child maintenance. The most suitable will depend on
                    your circumstances.</p>

                <p>If you’ve agreed on fixed regular payments, you could set up a standing order. This is where money is sent directly from
                    one person’s bank or building society account to another person’s account.</p>

                <p>A standing order helps both parents to plan and manage their finances, and keep a record of payments made.</p>

                <p>How often you make payments is up to you to agree. For example it could be weekly, fortnightly or monthly.</p>

                <p>What to do  <a href="stops-working">if you cannot make an arrangement or it stops working</a>.</p>










    </div>
</div>

{% endblock %}
