<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p>Your Child maintenance application reference number is 851234567</p>
            <p>Continue your application at <a href="start-apply-journey" target="_blank" rel="noopener noreferrer">child-maintenance.service.gov.uk/apply</a></p>
          </div>
        </div>
      </div>
    </main>
  </div>
