{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!--Feedback banner stop-->

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <!--start of radio-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="maintenance-liability-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  I need to ask you a question about domestic abuse
                </h1>
              </legend>

              <p>This so I can show you where to get help if you need it.</p>

              <p>If you decide to apply to the Child Maintenance Service there is a £20 application fee, but you may not have to pay this if you have experienced domestic abuse. </p>

              <h2 class="govuk-heading-s">
                Have you or your children experienced any of these behaviours?
              </h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>psychological or emotional abuse</li>
                <li>physical or sexual abuse</li>
                <li>financial or economic abuse</li>
                <li>coercive control (an act or pattern of acts of assault, threats, humiliation, intimidation, degradaton, isolation and control)</li>
                <li> harrassment and stalking </li>
                <li> online or digital abuse </li>
              </ul>


              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="yes" name="domestic-abuse" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="no" name="domestic-abuse" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="no">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <!--end-->
          <button type="submit" class="govuk-button">
            Continue
          </button>

          <p><a class="govuk-link" href="../index">End call</a></p>
        </form>
      </div>


    </div>
  </main>
</div>
{% endblock %}
