{% extends "layout.html" %}

{% block header %}
{% include './_header-options.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">CMS 'Get Help' prototypes</h1>

  </div>

  <div class="govuk-grid-column-one-third">
    <br>
    <h1 class="govuk-heading-m"><a href="prototype6/" class="govuk-link">Latest prototype</a></h1>

  </div>


  <div class="govuk-grid-column-full">
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <br><h2 class="govuk-heading-m">Telephony prototypes</h2>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Telephony tool - test 3
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Last updated</dt>
                <dt class="govuk-body">1st Nov 2021</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">Oct 2021</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">Login details</dt>
                <dt class="govuk-body">Username: phone<br> Password: research
                </dt>
              </dl>
            </div>
          </div>
                  <a href="https://cms-g4s-test3.herokuapp.com/" class="govuk-button govuk-button--start">Start prototype (external)</a>
        </div>
      </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Telephony tool - test 2
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Last updated</dt>
                <dt class="govuk-body">August 2021</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">August 2021</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">Login details</dt>
                <dt class="govuk-body">Username: phone<br> Password: research
                </dt>
              </dl>
            </div>
          </div>
                  <a href="https://cms-g4s-test2.herokuapp.com/" class="govuk-button govuk-button--start">Start prototype (external)</a>
        </div>
      </div>


      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Telephony tool - test 1
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Last updated</dt>
                <dt class="govuk-body">July 2021</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">July 2021</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">Login details</dt>
                <dt class="govuk-body">Username: phone<br> Password: research
                </dt>
              </dl>
            </div>
          </div>
            <a href="https://cms-g4s.herokuapp.com" class="govuk-button govuk-button--start">Start prototype (external)</a>
        </div>
      </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Draft internal telephony tool
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">April 2021</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s"><a href="">Jira or confluence link</a></dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body">First go at creating an internal tool to be used by telephony agents - it creates a structure for the call, and will provide prompts and language choices we anticipate agents would need to use.
                </dt>
              </dl>
            </div>
          </div>

          <a href="telephonytool/index" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div>
</div>
</div>
      <br><br>

      <div class="govuk-grid-column-full">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <h2 class="govuk-heading-m">Digital prototypes</h2>


      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Sixth prototype
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--green">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Last updated</dt>
                <dt class="govuk-body">March 2022</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">March 2022</dt>
              </dl>


              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body">
                  Includes:<br><br>
                  - the full Options (Get Help) journey<br><br>
                  - journey for PP to get a URN before being asked to call<br><br>
                  - includes 3 research questions and a page asking if the user is happy to take part<br><br>
                  - prototype now linked to Apply via the last page in the journey (requires login to the Apply prototype)<br><br>
                  <strong>UPDATES:</strong><br>(Mar 2022): Routing has been fixed to mirror latest flow diagram <br>
                  <br>Survey UR questions have been removed<br> <br>Information page has been updated
            
                </dt>
              </dl>
            </div>
          </div>

          <a href="prototype6/index.html" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div><br>





      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Fifth prototype
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">Third iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Last updated</dt>
                <dt class="govuk-body">March 2022</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">June 2021</dt>
              </dl>


              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body">
                  Includes:<br><br>
                  - the full Options (Get Help) journey<br><br>
                  - journey for PP to get a URN before being asked to call<br><br>
                  - includes 3 research questions and a page asking if the user is happy to take part<br><br>
                  - prototype now linked to Apply via the last page in the journey (requires login to the Apply prototype)<br><br>
                  <strong>UPDATES:</strong><br>(Mar 2022): All H1's were made consistent in being either xl - 48pt or l -36pt depending on page context.
                  <br><br> (Aug 2021): All telephone numbers, opening hours, and webchat links (where applicable) have been updated or removed.<br><br>
                  (Oct 2021): Additional updates to tel numbers (mainly layout for accessibility purposes). Plus drop-down content added to journey regarding if a parent is the biological or adoptive.<br>
                </dt>
              </dl>
            </div>
          </div>

          <a href="prototype5/index" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div><br>



      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Fourth prototype
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--orange">Second iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">March 2021</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s"><a href="">Jira or confluence link</a></dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body">Based on research of versions 1 to 3:<br>
                  1. Earlier notification point for users who already have a CM case (start page)<br>
                  2. Moved the eligibility questions before Options<br>
                  3. Add specific drop-out pages for ineligible statuses<br>
                  4. Split options to multiple pages<br>
                  5. Add Collect and Pay / Direct Pay content<br>
                  6. Peronalise micro-copy for for receiving/paying parents<br>
                  7. Remove webchat as an application method<br>
                  8. Removing NINO, Bank Details, 9+ children, etc page and gracefully handling at approprate point<br>
                  9. Added info about £20 into service content (previously only in start page)<br>
                  10. Added expanded info about Collect and Pay - when it can be used, and fees<br>
                </dt>
              </dl>
            </div>
          </div>

          <a href="prototype4/index" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div>


<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        Third prototype
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

    <span class="govuk-tag govuk-tag--red">First iteration</span>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <dl>
          <dt class="govuk-heading-s">Date created</dt>
          <dt class="govuk-body">March 2021</dt>
        </dl>
        <dl>
          <dt class="govuk-heading-s"><a href="">Jira or confluence link</a></dt>
        </dl>
        <dl>
          <dt class="govuk-heading-s">What it is</dt>
          <dt class="govuk-body">This prototype puts FBA and CMS information on a single page and prompts an action.<br>
            Also includes the ability to receive Application Reference by email or text.
          </dt>
        </dl>
      </div>
    </div>

    <a href="prototype3/index" class="govuk-button govuk-button--start">Start prototype</a>
  </div>
</div>


<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        Second prototype
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

    <span class="govuk-tag govuk-tag--red">First iteration</span>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <dl>
          <dt class="govuk-heading-s">Date created</dt>
          <dt class="govuk-body">March 2021</dt>
        </dl>
        <dl>
          <dt class="govuk-heading-s"><a href="">Jira or confluence link</a></dt>
        </dl>
        <dl>
          <dt class="govuk-heading-s">What it is</dt>
          <dt class="govuk-body">This prototype asks common eligibility questions up front to screen out users who need to call.<br>
          It also personalises the journey to RP or PP applications.
          </dt>
        </dl>
      </div>
    </div>

    <a href="/prototype2/iteration1/personalised/welcome" class="govuk-button govuk-button--start">Start prototype</a>
  </div>
</div>


      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              First prototype
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">Second iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">January 2021</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s"><a href="">Jira or confluence link</a></dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body">First version prototype for online Options journey based on 'simplest thing' principles.</dt>
              </dl>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>



<!-- Misc. prototypes -->

      <div class="govuk-grid-column-full">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <h2 class="govuk-heading-m">Misc. prototypes</h2>


      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Information journey - starts from what do you want to do page
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
              <dt class="govuk-heading-s">Last updated</dt>
              <dt class="govuk-body">5th April 2022</dt>
            </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">April 2022</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body"> A way of showing the user the information they need using radio buttons to filter them to the right content for their situation. <br><br>
              </dl>
            </div>
          </div>

          <a href="/Information/what-do-you-want-to-do" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div>






      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Calculator - private beta invite
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">Second iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
              <dt class="govuk-heading-s">Last updated</dt>
              <dt class="govuk-body">2nd Mar 2022</dt>
            </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">Aug 2021</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body">It's the final page of the calculator with an invite to private beta at the bottom.<br><br>
                  <strong>note:</strong> this page can be found in Prototype 6 if in case any changes are required.
              </dl>
            </div>
          </div>

          <a href="prototype6/iteration1/calculator-finalpage.html" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div>

    

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Calculator - service unavailable private beta invite
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
              <dt class="govuk-heading-s">Last updated</dt>
              <dt class="govuk-body">2nd March 2022</dt>
            </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">Jan 2022</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body">It's a service unavailable page with an invite to private beta at the bottom.<br><br>
              </dl>
            </div>
          </div>

          <a href="calculator/a-calculation-cannot-be-made.html" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div>









      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Non-UK prototype
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
              <dt class="govuk-heading-s">Last updated</dt>
              <dt class="govuk-body">10th Aug 2021</dt>
            </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">June 2021</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body">Prototype journey that shows how non-UK users progress in the online Options journey.<br><br>
                  <strong>UPDATE</strong><br> telephone numbers updated and REMO now added (Aug 2021)
                </dt>
              </dl>
            </div>
          </div>

          <a href="nonuk/index" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Child cost calculator
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Last updated</dt>
                <dt class="govuk-body">Aug 2021</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">May 2021</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body">interactive version of the 'costs of raising a child' content from GOV.uk
                </dt>
              </dl>
            </div>
          </div>

          <a href="childcost/index" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Error journeys and screens
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">Second iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Last updated</dt>
                <dt class="govuk-body">10th Aug 2021</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">July 2021</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body">Prototype showing what might happen and what the user will see if the URN generator is down. Also what users will see if the service is down altogether. <br>
                  <br> <strong>UPDATE</strong><br> telephone numbers and opening hours have been updated (Aug 2021)
                </dt>
              </dl>
            </div>
          </div>
                  <a href="urnerror/index" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div>
      </div>
      </div>
      <br>


<!-- Content prototypes  -->

          <div class="govuk-grid-column-full">
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <h2 class="govuk-heading-m">Early content prototypes</h2>

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  [Content] Proposed improved 'Options' GOV.UK content
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

              <span class="govuk-tag govuk-tag--orange">Second iteration</span>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                  <dl>
                    <dt class="govuk-heading-s">Date created</dt>
                    <dt class="govuk-body">January 2021</dt>
                  </dl>
                  <dl>
                    <dt class="govuk-heading-s"><a href="https://jira.service.dwpcloud.uk/browse/CMGO-14">Jira link</a></dt>
                  </dl>
                  <dl>
                    <dt class="govuk-heading-s">What it is/what has changed</dt>
                    <dt class="govuk-body">Variations to draft 1</dt>
                    <p class="govuk-body">Added new introductions to pages 2 and 3 to meet policy requirement of promoting effective FBA where possible.</p>
                    <p class="govuk-body">Attempted to do so by outlining pros and cons of each arrangement type, to allow user to make an informed choice</p>
                  </dl>
                </div>
              </div>
              <a href="/govuk/index" class="govuk-button govuk-button--start">Prototype</a>
            </div>
            </div>


            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    [Content] Current options GOV.UK content
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                <span class="govuk-tag govuk-tag--red">First iteration</span>

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Date created</dt>
                      <dt class="govuk-body">January 2021</dt>
                    </dl>
                    <dl>
                      <dt class="govuk-heading-s">What it is</dt>
                      <dt class="govuk-body">This is the Options content as it existed on GOV.UK in January 2021</dt>
                    </dl>
                  </div>
                </div>

          <a href="/prototype1/index" class="govuk-button govuk-button--start">Start prototype</a>
              </div>
            </div>
          </div>
          </div>

  </div>
</div>


{% endblock %}
