{% extends "layout.html" %}

{% block header %}
{% include './_header-govuk.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">GOV.UK prototype</h1>

  </div>

  <div class="govuk-grid-column-one-third">
    <br>
    <h1 class="govuk-heading-m"><a href="/govuk2/making-child-maintenance-arrangement/overview" class="govuk-link">Latest version</a></h1>

  </div>

  <div class="govuk-grid-column-full">

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">


      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Cycle 2 - Options GOV.UK content
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

          <span class="govuk-tag govuk-tag--orange">Second iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">January 2021</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s"><a href="https://jira.service.dwpcloud.uk/browse/CMGO-14">Jira link</a></dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">What it is/what has changed</dt>
                <dt class="govuk-body">Variations to draft 1</dt>
                <p class="govuk-body">Added new introductions to pages 2 and 3 to meet policy requirement of promoting effective FBA where possible.</p>
                <p class="govuk-body">Attempted to do so by outlining pros and cons of each arrangement type, to allow user to make an informed choice</p>
              </dl>
            </div>
          </div>
          <a href="/govuk2/index" class="govuk-button govuk-button--start">Prototype</a>
        </div>


      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Cycle 1 - Options GOV.UK content
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

          <span class="govuk-tag govuk-tag--orange">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">January 2021</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s"><a href="https://jira.service.dwpcloud.uk/browse/CMGO-14">Jira link</a></dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">What it is/what has changed</dt>
                <dt class="govuk-body">Quick wins (first draft)</dt>
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    reduced number of links out</)
                  </li>
                  <li>
                    removed duplicatated content
                  </li>
                  <li>
                    removed unneccessary content
                  </li>
                  <li>
                    removed some subjective and inaccurate content
                  </li>
                </ul>
              </dl>
            </div>
          </div>
          <a href="/govuk1/making-child-maintenance-arrangement/overview" class="govuk-button govuk-button--start">Prototype</a>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Current options GOV.UK content
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

            <span class="govuk-tag govuk-tag--red">First iteration</span>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <dl>
                  <dt class="govuk-heading-s">Date created</dt>
                  <dt class="govuk-body">January 2021</dt>
                </dl>
                <dl>
                  <dt class="govuk-heading-s">What it is</dt>
                  <dt class="govuk-body">This is the Options content as it currently exists on GOV.UK</dt>
                </dl>
              </div>
            </div>

            <a href="/version1/making-child-maintenance-arrangement/overview" class="govuk-button govuk-button--start">Prototype</a>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

{% endblock %}
