{% extends "layout.html" %}

{% block header %}
{% include './_header-options.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Options service prototype</h1>

  </div>

  <div class="govuk-grid-column-one-third">
    <br>
    <h1 class="govuk-heading-m"><a href="/cycle4/index" class="govuk-link">Latest version</a></h1>

  </div>


  <div class="govuk-grid-column-full">
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">


<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        Third prototype
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

    <span class="govuk-tag govuk-tag--red">First iteration</span>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <dl>
          <dt class="govuk-heading-s">Date created</dt>
          <dt class="govuk-body">March 2021</dt>
        </dl>
        <dl>
          <dt class="govuk-heading-s"><a href="">Jira or confluence link</a></dt>
        </dl>
        <dl>
          <dt class="govuk-heading-s">What it is</dt>
          <dt class="govuk-body">This prototype puts FBA and CMS information on a single page and prompts an action.<br>
            Also includes the ability to receive Application Reference by email or text.
          </dt>
        </dl>
      </div>
    </div>

    <a href="prototype3iteration1/index" class="govuk-button govuk-button--start">Prototype</a>
  </div>
</div>


<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        Second prototype
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

    <span class="govuk-tag govuk-tag--red">Second iteration</span>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <dl>
          <dt class="govuk-heading-s">Date created</dt>
          <dt class="govuk-body">March 2021</dt>
        </dl>
        <dl>
          <dt class="govuk-heading-s"><a href="">Jira or confluence link</a></dt>
        </dl>
        <dl>
          <dt class="govuk-heading-s">What it is</dt>
          <dt class="govuk-body">This prototype asks common eligibility questions up front to screen out users who need to call.<br>
          It also personalises the journey to RP or PP applications.
          </dt>
        </dl>
      </div>
    </div>

    <a href="/cycle4/index" class="govuk-button govuk-button--start">Prototype</a>
  </div>
</div>


      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              First prototype
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">January 2021</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s"><a href="">Jira or confluence link</a></dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body">First version prototype for online Options journey based on 'simplest thing' principles.</dt>
              </dl>
            </div>
          </div>

          <a href="/cycle2/index" class="govuk-button govuk-button--start">Prototype</a>
        </div>
      </div>
    </div>

  </div>
</div>


</div>
</div>

{% endblock %}
