{% extends "layout.html" %}

{% block header %}
{% include './_header-options.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<h1 class="govuk-heading-xl">Options service prototype</h1>


<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Version three - description
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

      <span class="govuk-tag govuk-tag--green">Third iteration</span>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <dl>
            <dt class="govuk-heading-s">Date created</dt>
            <dt class="govuk-body">January 2021</dt>
          </dl>
          <dl>
            <dt class="govuk-heading-s"><a href="">Jira or confluence link</a></dt>
          </dl>
          <dl>
            <dt class="govuk-heading-s">What is is/what has changed</dt>
            <dt class="govuk-body">Words words words</dt>
          </dl>
        </div>
      </div>

      <a href="/" class="govuk-button govuk-button--start">Prototype</a>

    </div>
    </div>


  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Version two - description
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

      <span class="govuk-tag govuk-tag--orange">Second iteration</span>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <dl>
            <dt class="govuk-heading-s">Date created</dt>
            <dt class="govuk-body">January 2021</dt>
          </dl>
          <dl>
            <dt class="govuk-heading-s"><a href="">Jira or confluence link</a></dt>
          </dl>
          <dl>
            <dt class="govuk-heading-s">What is is/what has changed</dt>
            <dt class="govuk-body">Words words words</dt>
          </dl>
        </div>
      </div>

      <a href="/" class="govuk-button govuk-button--start">Prototype</a>

    </div>
    </div>

    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Version one - description
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

        <span class="govuk-tag govuk-tag--red">First iteration</span>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Date created</dt>
              <dt class="govuk-body">January 2021</dt>
            </dl>
            <dl>
              <dt class="govuk-heading-s"><a href="">Jira or confluence link</a></dt>
            </dl>
            <dl>
              <dt class="govuk-heading-s">What it is</dt>
              <dt class="govuk-body">Words words words</dt>
            </dl>
          </div>
        </div>

        <a href="/" class="govuk-button govuk-button--start">Prototype</a>
      </div>
    </div>
  </div>

</div>


  </div>
</div>

{% endblock %}
