{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!--Feedback banner stop-->

<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <!--start of radio-->
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="maintenance-liability-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-fieldset__legend--l ">
                                <h1 class="govuk-fieldset__heading">
                                    Before you continue
                                </h1>
                            </legend>
                            <br>
                            <h2 class="govuk-heading-m">If you already have an active case</h2>
                            <p class="govuk-body">If you already have an active case with the Child Maintenance Service with the same parent that you're applying for now you should <a href="https://www.gov.uk/manage-child-maintenance-case/changes-you-need-to-report">report a change of circumstances</a> instead of making a new application.</p>

                            <h2 class="govuk-heading-m">Make sure you can use the online service</h2>
                            <p>You need to apply by phone if you:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>do not have a UK bank account</li>
                                <li>do not have a National Insurance number</li>
                                <li>have more than 9 children</li>
                            </ul>
                          </fieldset>



            <p class="govuk-body"><a href="apply-by-phone" target="_blank" rel="noopener noreferrer">Apply by phone</a></p>



                    </div>
                    <!--end-->
                    <a href="your-application-reference-number" role="button" draggable="false" class="govuk-button">
                        Continue online
                    </a>
                </form>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="govuk-button--sticky">
                    <a href="https://www.bbc.co.uk/weather" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-padding-5 govuk-button--sticky govuk-!-width-full govuk-button--stick hide-on-small"
                        data-module="govuk-button">
                        Hide this page
                    </a>
                </div>
            </div>

        </div>
    </main>
</div>
{% endblock %}
