{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/births-deaths-marriages">Births, deaths, marriages and care</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/births-deaths-marriages/child-adoption">Having a child, parenting and adoption</a>
    </li>
  </ol>
</div>

  <h1 class="govuk-heading-xl">Making a child maintenance<br> arrangement</h1>
    <h2 class="govuk-body-m">Contents</h2>
      <ul class="govuk-list">
        <li>
          — Overview
        </li>
        <li>
          — <a class="govuk-link" href="web-arrange-child-maintenance-yourself">Arrange child maintenance yourself</a>
        </li>
        <li>
          — <a class="govuk-link" href="web-using-child-maintenance-service">Use the Child Maintenance Service</a>
        </li>
      </ul>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">

              <h2 class="govuk-heading-m">Overview</h2>
              <p class="govuk-body">Child maintenance is an arrangement between you and the other parent of your child. It covers how your child’s living costs will be paid for when one parent does not live with them.</p>
              <div class="govuk-inset-text">
                <a class="govuk-link" href="https://www.gov.uk/gwneud-trefniant-cynhaliaeth-plant">This guide is also available in Welsh (Cymraeg).</a>
              </div>
              <p class="govuk-body">Both parents are responsible for the costs of raising their child, even if they do not see them.</p>
              <p class="govuk-body">Child maintenance can be either:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  a private arrangement between you and the other parent
                </li>
                <li>
                  made through the Child Maintenance Service - a government scheme
                </li>
              </ul>

              <h2 class="govuk-heading-m">If you've experienced domestic abuse or controlling behaviour</h2>
              <p class="govuk-body">Domestic abuse can include, but is not limited to:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                psychological or emotional abuse
                </li>
                <li>
                physical or sexual abuse
                </li>
                <li>
                financial or economic abuse
                </li>
                <li>
                coercive control (an act or pattern of acts of assault, threats, humiliation, intimidation, degradation, isolation and control)
                </li>
                <li>
                harassment and stalking
                </li>
                <li>
                online or digital abuse
                </li>
              </ul>
              <p class="govuk-body">You can <a class="govuk-link" href="web-using-child-maintenance-service">use the Child Maintenance Service</a> to arrange child maintenance if you do not want to contact the other parent yourself. They will contact the other parent for you.</p>
              <p class="govuk-body">You can <a class="govuk-link" href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help">get help and support if you've experienced domestic abuse.</a>

              <h2 class="govuk-heading-m">How it affects benefits</h2>
              <p class="govuk-body">Child maintenance payments will not affect any benefits that you and your children get. You will not have to pay tax on them.</p>
              <p class="govuk-body">Your Council Tax Reduction could be affected. <a class="govuk-link" href="https://www.gov.uk/find-local-council">Contact your local council</a> to find out if this applies to you.</p>

              <br>
              <br>
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <h2 class="govuk-heading-s">&#8594; Next</h2>
              <p class="govuk-body"><a class="govuk-link" href="web-arrange-child-maintenance-yourself">Arrange child maintenance yourself</a></p>

                <br>
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <h2 class="govuk-heading-s">Explore the topic</h2>
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="https://www.gov.uk/browse/births-deaths-marriages/child-adoption">Having a child, parenting and adoption</a>
                </li>
                <li>
                  <a class="govuk-link" href="https://www.gov.uk/browse/births-deaths-marriages/marriage-divorce">Marriage, civil partnership and divorce</a>
                </li>
                <li>
                  <a class="govuk-link" href="https://www.gov.uk/browse/childcare-parenting/divorce-separation-legal">Divorce, separation and legal issues</a>
                </li>
              </ul>

      </div>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
        </div>
        <div class="govuk-notification-banner__content">
          <h2 class="govuk-heading-m" id="subsection-title">
            Brexit
          </h2>
            <a class="govuk-link" href="https://www.gov.uk/transition">Check how the new Brexit rules affect you</a>
        </div>
      </div>



      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="welcome">
                  Get help arranging child maintenance
                </a>
              </li>
              <li>
                <a class="govuk-link" href="https://www.gov.uk/manage-child-maintenance-case">
                  Manage your Child Maintenance Service case
                </a>
              </li>
              <li>
                <a class="govuk-link" href="https://www.gov.uk/calculate-child-maintenance">
                  Calculate your child maintenance
                </a>
              </li>
              <li>

              </li>
            </ul>
          </nav>
        </aside>
      </div>

    </div>
  </main>
</div>

{% endblock %}
