{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/births-deaths-marriages">Births, deaths, marriages and care</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/births-deaths-marriages/child-adoption">Having a child, parenting and adoption</a>
    </li>
  </ol>
</div>

<h1 class="govuk-heading-xl">Making a child maintenance<br> arrangement</h1>


<h2 class="govuk-body-m">Contents</h2>
<ul class="govuk-list">
  <li>
    — <a class="govuk-link" href="web-overview">Overview</a>
  </li>
  <li>
    — Arrange child maintenance yourself
  </li>
  <li>
    — <a class="govuk-link" href="web-using-child-maintenance-service">Use the Child Maintenance Service</a>
  </li>
</ul>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">



              <h2 class="govuk-heading-m">Arrange child maintenance yourself</h2>
              <p class="govuk-body">You can make arrangements for your children if both parents agree. This might cover their living costs and care.</p>
              <p class="govuk-body">This is a private arrangement where you and the other parent organise everything yourselves. No one else has to be involved. It’s flexible and can be changed if your circumstances change. For example, you could both agree that one parent:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  does school or nursery pick ups
                </li>
                <li>
                  looks after the children in the holidays
                </li>
                <li>
                  pays a proportion of their income to the parent with day to day care
                </li>
                <li>
                  pays for things like housing, school uniform, trips or after school clubs
                </li>
                <li>
                  pays a regular set amount directly to the parent with care
                </li>
              </ul>


              <h2 class="govuk-heading-m">Working out payments</h2>
              <p class="govuk-body">If you agree to make regular payments, you can use the <a class="govuk-link" href="https://www.gov.uk/calculate-child-maintenance">child maintenance calculator</a> to help you decide how much payments should be.</p>

              <h2 class="govuk-heading-m">Get help to make an arrangement<h2>
              <p class="govuk-body">You can <a class="govuk-link" href="https://www.familymediationcouncil.org.uk/find-local-mediator/">search for a local mediator</a> to help you reach agreement about an arrangement.</p>
              <p class="govuk-body">You can read guidance on:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a class="govuk-link" href="https://www.gov.uk/government/publications/working-out-the-cost-of-raising-your-children">working out the cost of raising your children</a>
                </li>
                <li>
                  <a class="govuk-link" href="https://www.gov.uk/government/publications/planning-your-child-maintenance-conversation">having a conversation about child maintenance</a>
                </li>
                <li>
                  <a class="govuk-link" href="https://www.gov.uk/government/publications/your-child-maintenance-arrangement">recording your agreement</a>
                </li>
              </ul>
              <p class="govuk-body">You can contact Child Maintenance Options for support.</p>
              <div class="govuk-inset-text">
                <strong>Child Maintenance Options</strong><br>
                Telephone: 0800 953 0191<br>
                <a href="https://www.timeforstorm.com/IM/endpoint/guest/5465/CMO%20Webchat/7281ae0010fa609cec9d53f872458b01ecddd9ce016f3c464a3c8d2a97f58026">Webchat</a><br>
                <a href="https://www2.dwp.gov.uk/contact-cmoptions/en/new-contact.asp">Online form</a><br>
                Monday to Friday, 8am to 8pm<br>
                <br>
                <a href="https://dwpcmgoptions.signvideo.net">Video relay service</a> for British Sign Language (BSL) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use the service</a><br>
                Monday to Friday, 8am to 5pm<br>
                <br>
                Welsh language: 0800 408 0308<br>
                Monday to Friday, 8am to 5pm<br>
                <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
              </div>
              <div class="govuk-inset-text">
                There are different contact details if you live in <a href="https://www.nidirect.gov.uk/contacts/contacts-az/child-maintenance-choices">Northern Ireland</a>.
              </div>


              <h2 class="govuk-heading-m">If your private arrangement stops working</h2>
              <p class="govuk-body">You can <a href="https://www.familymediationcouncil.org.uk/find-local-mediator/">search for a local mediator </a>to help you work out child maintenance arrangements.</p>
              <p class="govuk-body">If you later decide to switch to using the <a class="govuk-link" href="https://www.gov.uk/manage-child-maintenance-case">Child Maintenance Service</a> you may have to pay an <a class="govuk-link" href="web-using-child-maintenance-service">application fee</a>. You will not need to pay the fee if you’ve experienced domestic abuse, you’re under 19 years old or you live in Northern Ireland.</p>



              <br>
              <br>
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <h2 class="govuk-heading-s">&#8592; Previous</h2>
              <p class="govuk-body"><a class="govuk-link" href="web-overview">Overview</a></p>

              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <h2 class="govuk-heading-s">&#8594; Next</h2>
              <p class="govuk-body"><a class="govuk-link" href="web-using-child-maintenance-service">Using the Child Maintenance Service</a></p>


                <br>
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <h2 class="govuk-heading-s">Explore the topic</h2>
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="https://www.gov.uk/browse/births-deaths-marriages/child-adoption">Having a child, parenting and adoption</a>
                </li>
                <li>
                  <a class="govuk-link" href="https://www.gov.uk/browse/births-deaths-marriages/marriage-divorce">Marriage, civil partnership and divorce</a>
                </li>
                <li>
                  <a class="govuk-link" href="https://www.gov.uk/browse/childcare-parenting/divorce-separation-legal">Divorce, separation and legal issues</a>
                </li>
              </ul>

      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
        </div>
        <div class="govuk-notification-banner__content">
          <h2 class="govuk-heading-m" id="subsection-title">
            Brexit
          </h2>
            <a class="govuk-link" href="https://www.gov.uk/transition">Check how the new Brexit rules affect you</a>
        </div>
      </div>
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="https://www.gov.uk/manage-child-maintenance-case">
                  Manage your Child Maintenance Service case
                </a>
              </li>
              <li>
                <a class="govuk-link" href="https://www.gov.uk/calculate-child-maintenance">
                  Calculate your child maintenance
                </a>
              </li>
            </ul>
          </nav>
        </aside>
      </div>




    </div>

</main>
</div>

{% endblock %}
