{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!--Feedback banner stop-->

<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>

<!--content-->
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="live-uk-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">
                                     Sorry, there is a problem with the service
                                </h1>
                            </legend><br>
<!--body-->
            <p>Try again later.</p>
            <p>We have not saved your answers. When the service is available, you will have to start again.</p>
            <div class="govuk-inset-text">


              <p><strong>Child Maintenance Service (England, Scotland and Wales)</strong><br>
              <br>
              Webchat: <a href="">Chat to a child maintenance advisor</a><br>
              Telephone: 0800 988 0988<br>
              Textphone: 18001 0800 988 0988 <br>
              <br>
              <a href="https://dwpnino.signvideo.net/">Video relay service</a> for British Sign Language
              (BSL) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use the Video Relay Service</a><br>
              <br>
              Monday to Friday, 8:00am to 8:00pm (excluding bank holidays) <br>
              <a href="https://www.gov.uk/call-charges">Find out about call charges</a>.</p>
            </div>

<!--end-->

                </form>
                </div>
                </div>
                <div class="govuk-grid-column-one-third">
                    <div class="govuk-button--sticky">
                        <a href="https://www.bbc.co.uk/weather" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-padding-5 govuk-button--sticky govuk-!-width-full govuk-button--stick hide-on-small"
                            data-module="govuk-button">
                            Hide this page
                        </a>
                    </div>
                </div>
</div>
            </div>
    </main>
    </div>
    {% endblock %}
